#page-login-form {
    width: 100vw;
    height: 100vh;
}

#page-login-form .page-header .header-content {
    margin-bottom: 6.4rem;
}

#page-login-form main {
    background-color: var(--color-box-base);
    width: 100%;
    max-width: 74rem;
    border-radius: 0.8rem;
    margin: -3.2rem auto 3.2rem;
    padding-top: 6.4rem;
    overflow: hidden;
}

#page-login-form main fieldset {
    border: 0;
    padding: 0 2.4rem;
}

#page-login-form main fieldset + fieldset {
    margin-top: 6.4rem;
}

#page-login-form main fieldset legend {
    font: 700 2.4rem Archivo;
    color: var(--color-text-title);
    margin-bottom: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 1.6rem;
    border-bottom: 1px solid var(--color-line-in-white);
}

#page-login-form main fieldset legend button {
    background: none;
    border: 0;
    color: var(--color-primary);
    font: 700 1.6rem Archivo;
    cursor: pointer;
    transition: color 0.2s;
    outline: none;
}

#page-login-form main fieldset legend button:hover {
    color: var(--color-primary-dark);
}

#page-login-form main label {
    color: var(--color-text-complement);
}

#page-login-form main footer {
    padding: 0.2rem 2.4rem;
    background: var(--color-box-footer);
    border-top: 1px solid var(--color-line-in-white);
    margin-top: 2.4rem;
}

#page-login-form main footer button {
    width: 100%;
    height: 5.6rem;
    background: var(--color-secundary);
    color: var(--color-button-text);
    border: 0;
    border-radius: 0.8rem;
    font: 700 1.6rem Archivo;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.2s;
    margin-top: 0.5rem;
    margin-right: 1rem;
    outline: none;
    cursor: pointer;
}

#page-login-form main footer button + button {
    width: 100%;
    height: 5.6rem;
    background: var(--color-primary-lighter);
    color: var(--color-button-text);
    border: 0;
    border-radius: 0.8rem;
    font: 700 1.6rem Archivo;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.2s;
    margin-top: 0.5rem;
    outline: none;
    cursor: pointer;
}

#page-login-form main footer button:hover {
    background: var(--color-secundary-dark);
}

#page-login-form main footer button + button:hover {
    background: var(--color-primary-light);
}

@media (min-width: 700px) {
    #page-login-form {
        max-width: 100vw;
    }

    #page-login-form .page-header .header-content {
        margin-bottom: 0;
    }

    #page-login-form main fieldset {
        padding: 0 6.4rem;
    }

    #page-login-form main .schedule-item {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        column-gap: 1.6rem;
    }

    #page-login-form main .schedule-item .input-block {
        margin-top: 0 !important;
    }

    #page-login-form main footer {
        padding: 4.0rem 6.4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #page-teacher-form main footer p {
        justify-content: space-between;
    }

    #page-teacher-form main footer button {
        width: 20rem;
        margin-top: 0;
        margin-right: 0;
    }
}