#sucess-container {
    width: 100vw;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    color: var(--color-text-in-primary);
    background: var(--color-primary);
    
    background-image: url("../../assets/images/Background2.svg");
    /* background-repeat: no-repeat; */
    background-position: center;
    background-size: contain;
}

#sucess-container img {

}

#sucess-container h1 {
   color: #FFF;
}

#sucess-container h2 {
   text-align: center;
}